body {
    margin: 15px;
    font-family: sans-serif;
}

.bmi-calculator {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 3px;
}

input[type="number"],
button {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 5px;
}

.result-display {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

h3 {
    text-align: center;
    margin-bottom: 10px;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

